@import "tailwindcss";
@import "@fortawesome/fontawesome-svg-core/styles.css";


.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  border-radius: 0 2rem 0 0;
  border-bottom-right-radius: 4rem;
}

.under-line::after {
  content: ' ';
  background-color: #5cdb95;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 4px;
  left: 0;
  border-radius: 2px;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.under-line:hover::after {
  transform: scaleX(1);
}

:root {
  --background: #f5f6fa;
  --foreground: #1b2e4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f6fa;
    --foreground: #1b2e4b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.open-sider-button {
  display: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.close-sider-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  background-color: #f5f6fa63;
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
@keyframes move3d {

    0%,
    100% {
      transform: translateX(0) scale(1);

    }
    50% {
      transform: translateX(20px) scale(1.1);
      
    }
  }

  .custom-3d-move {
    animation: move3d 3s infinite ease-in-out
  }
@media screen and (max-width: 700px) {

  .open-sider-button,
  .close-sider-button {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: auto;
    width: min(18rem, 100%);
    z-index: 10;
    overflow-y: auto;
    border-left: 1px solid #f5f6fa;
    transition: right 300ms ease-out;

  }

  nav.show {
    right: 0;
  }

  nav.show~.overlay {
    display: block;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 1rem;
  }

  nav li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  nav a {
    width: 100%;
    padding-left: 2.5em;
  }

  
}